/* iA Writer Quattro — auto-alojada (SIL Open Font License 1.1).
   Ficheiros e licença em public/fonts/. Sem Google Fonts: por isso o token
   correspondente em FONT_OPTIONS não tem href (o guard !opt.href evita o <link>). */
@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
